.box2 {
  border-left: 1px solid #a7a5a5;
  background-color: #f3f3f3;
  width: 100%;
}

.message_scroll {
  height: 85%;
  padding: 5px 10px;
  overflow: auto;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 35px;
  color: darkgreen;
  padding-left: 10px;
}

.list {
  list-style-type: none;
}
