.container {
	background-color: lightgray;
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
	box-sizing: border-box;
}

.textDynamic {
	width: 400px;
	margin: 50px auto;
	min-width: 300px;
	max-width: 600px;
	min-height: 150px;
	padding: 10px;
	font-size: 20px;
}
